body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f6f9;
}

.login-container {
    width: 90%;
    margin: auto;
}
.back-btn{
    background:#007bff;
    color:white;
    border:none;
    padding:6px 10px;
    cursor:pointer;
    margin-bottom:10px;
    border-radius:4px;
}
input[type="checkbox"] {
    width: auto;
}
.remember {
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 8px 0;
}
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.menu-toggle {
    font-size: 22px;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.toggle-btn {
    width: auto;
    padding: 6px 10px;
    font-size: 18px;
    background: #007bff;
    color: #333;
}

.layout {
    display: flex;
}
.close-btn{
    background:none;
    border:none;
    color:white;
    font-size:20px;
    float:right;
    cursor:pointer;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.main {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.card {
    background: #f4f6f9;
    padding: 15px;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.sidebar {
    width: 220px;
    background: #1f2937;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .login-container {
        width: 60%;
    }
}
@media (min-width: 1024px) {
    .login-container {
        width: 400px;
    }
}

@media (max-width: 768px) {

    .sidebar {
       left:-220px;
        position:fixed;
        z-index:1000;
       
    }

    .sidebar.active {
        left: 0;
    }

    .menu-toggle {
        display: block;
        font-size: 22px;
        background: none;
        border: none;
        cursor: pointer;
    }
}






.main {
    margin-left: 220px;
    padding: 20px;
}

@media (max-width:768px){
    .main{
        margin-left:0;
    }
}
